---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="w-full h-screen flex items-center justify-center">
        <div
            class="w-[25vw] h-[20vh] border-2 border-dashed border-[#3E3F41] rounded-lg flex flex-col items-start justify-center p-4"
        >
            <h1 class="text-4xl font-bold mb-2">iwa</h1>
            <h2>not much to see here, just another dev</h2>
            <hr class="my-4 border-[#a187e8] border-1 w-full"/>
            <p><a href="https://github.com/iwa" class="text-[#9675F0]">github profile</a> -
                <a href="https://wiki.iwa.sh/" class="text-[#9675F0]">wiki</a> -
                author of <a href="https://github.com/iwa/Sei" class="text-[#9675F0]">Sei</a></p>
        </div>
    </div>
</Layout>
